apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: authorizations.federation.external-secrets.io
spec:
  group: federation.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-federation
    kind: Authorization
    listKind: AuthorizationList
    plural: authorizations
    singular: authorization
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Authorization is the schema to control authorization over ClusterSecretStores.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AuthorizationSpec defines the specification for authorization.
            properties:
              allowedClusterSecretStores:
                description: Which ClusterSecretStores can this subject request
                items:
                  type: string
                type: array
              allowedGeneratorStates:
                description: Which GeneratorState namespaces can this subject delete
                items:
                  description: AllowedGeneratorState defines which generator states
                    are allowed.
                  properties:
                    namespace:
                      type: string
                  required:
                  - namespace
                  type: object
                type: array
              allowedGenerators:
                description: Which Generators namespaces can this subject request
                items:
                  description: AllowedGenerator defines which generators are allowed.
                  properties:
                    apiVersion:
                      default: generators.external-secrets.io/v1alpha1
                      type: string
                    kind:
                      type: string
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - apiVersion
                  - kind
                  - name
                  - namespace
                  type: object
                type: array
              federationRef:
                description: FederationRef defines a reference to a federation.
                properties:
                  kind:
                    type: string
                  name:
                    type: string
                required:
                - kind
                - name
                type: object
              subject:
                description: FederationSubject defines the subject for federation.
                maxProperties: 1
                minProperties: 1
                properties:
                  oidc:
                    description: FederationOIDC defines OIDC-based federation.
                    properties:
                      issuer:
                        type: string
                      subject:
                        type: string
                    required:
                    - issuer
                    - subject
                    type: object
                  spiffe:
                    description: FederationSpiffe defines SPIFFE-based federation.
                    properties:
                      spiffeID:
                        type: string
                    required:
                    - spiffeID
                    type: object
                type: object
            required:
            - allowedClusterSecretStores
            - allowedGeneratorStates
            - allowedGenerators
            - federationRef
            - subject
            type: object
            x-kubernetes-validations:
            - message: spiffe or subject must be set
              rule: (has(self.subject.spiffe) && !has(self.subject.oidc)) || (!has(self.subject.spiffe)
                && has(self.subject.oidc))
        type: object
    served: true
    storage: true
    subresources:
      status: {}
