{{- if .Values.federation.service.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "external-secrets.fullname" . }}-federation-server
  namespace: {{ template "external-secrets.namespace" . }}
  labels:
    {{- include "external-secrets.labels" . | nindent 4 }}
  {{- with .Values.metrics.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  {{- if .Values.service.ipFamilyPolicy }}
  ipFamilyPolicy: {{ .Values.service.ipFamilyPolicy }}
  {{- end }}
  {{- if .Values.service.ipFamilies }}
  ipFamilies: {{ .Values.service.ipFamilies | toYaml | nindent 2 }}
  {{- end }}
  ports:
    - port: {{ .Values.federation.service.port }}
      protocol: TCP
      targetPort: server
      name: server
  selector:
    {{- include "external-secrets.selectorLabels" . | nindent 4 }}
{{- end }}
