{{- if .Values.crds.create }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: authorizedidentities.federation.external-secrets.io
spec:
  group: federation.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-federation
    kind: AuthorizedIdentity
    listKind: AuthorizedIdentityList
    plural: authorizedidentities
    singular: authorizedidentity
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AuthorizedIdentity is the schema to control which identities were able to get which credentials
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AuthorizedIdentitySpec defines the specification for an authorized identity.
            properties:
              identitySpec:
                description: IdentitySpec defines the specification for an identity.
                properties:
                  federationRef:
                    description: FederationRef defines a reference to a federation.
                    properties:
                      kind:
                        type: string
                      name:
                        type: string
                    required:
                    - kind
                    - name
                    type: object
                  subject:
                    description: FederationSubject defines the subject for federation.
                    maxProperties: 1
                    minProperties: 1
                    properties:
                      oidc:
                        description: FederationOIDC defines OIDC-based federation.
                        properties:
                          issuer:
                            type: string
                          subject:
                            type: string
                        required:
                        - issuer
                        - subject
                        type: object
                      spiffe:
                        description: FederationSpiffe defines SPIFFE-based federation.
                        properties:
                          spiffeID:
                            type: string
                        required:
                        - spiffeID
                        type: object
                    type: object
                required:
                - federationRef
                - subject
                type: object
              issuedCredentials:
                items:
                  description: IssuedCredential maps the credential that was issued to a given identity.
                  properties:
                    lastIssuedAt:
                      format: date-time
                      type: string
                    remoteRef:
                      description: RemoteRef is a reference within the source Ref, if any, to which key was obtained.
                      properties:
                        property:
                          type: string
                        remoteKey:
                          type: string
                      required:
                      - property
                      - remoteKey
                      type: object
                    sourceRef:
                      description: |-
                        SourceRef is a reference to any object that can output a credential.
                        This can be a SecretStore or a Generator.
                      properties:
                        apiVersion:
                          type: string
                        kind:
                          type: string
                        name:
                          type: string
                        namespace:
                          type: string
                      required:
                      - apiVersion
                      - kind
                      - name
                      type: object
                    stateRef:
                      description: |-
                        StateRef is a reference to any object containing a state.
                        Typically this is a GeneratorState.
                      properties:
                        apiVersion:
                          type: string
                        kind:
                          type: string
                        name:
                          type: string
                        namespace:
                          type: string
                      required:
                      - apiVersion
                      - kind
                      - name
                      type: object
                    workloadBinding:
                      description: WorkloadBinding describes which workload the credential was bound to.
                      properties:
                        kind:
                          description: Kind is the kind of workload, e.g., "Pod" or "ServiceAccount".
                          type: string
                        name:
                          description: Name is the name of the workload.
                          type: string
                        namespace:
                          description: Namespace is the namespace of the workload.
                          type: string
                        uid:
                          description: UID is the UID of the workload.
                          type: string
                      required:
                      - kind
                      - name
                      - namespace
                      - uid
                      type: object
                  required:
                  - sourceRef
                  type: object
                type: array
            required:
            - identitySpec
            - issuedCredentials
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
{{- end }}
